/WinPE/WinPE_amd64/**
/ImageModification/Drivers/**
/ImageModification/Drivers/!Notice!.txt
/ImageModification/Images/*.wim
/ImageModification/Languages/**
/ImageModification/Mountpoint/**
/Exclude/**